<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rngad33.aiguide.mapper.AppVectorMapper">

    <resultMap id="BaseResultMap" type="com.rngad33.aiguide.model.entity.AppVector">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="vector" column="vector" />
        <result property="appCode" column="app_code" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="isDelete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        id, name, vector, app_code, create_time, update_time, is_delete
    </sql>
</mapper>